{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Games: {{game.name}}

{% endblock title %}



{% block content %}
  <h2> {{game.name}}</h2>

{% if game.max_players %}
  <p>Max number of players: {{game.max_players}}</p>
{% endif %}

{% if game.description %}
  <p>{{game.description}}</p>
{% endif %}

{% if game.img %}
  <p>
    <img src="{{game.img.url}}" />
  </p>
{% endif %}
<hr/>
{% if game.borrower %}
  <p>Borrowed by: {{game.borrower}}</p>
{% else %}
  <a href="{% url 'games:borrow' game.slug %}" role="button" class="btn btn-primary">Borrow Game</a>
{% endif %}

<ul>
{% for comment in game.gamecomment_set.all %}
    <li>{{ comment.header }}</li>
{% endfor %}
</ul>

<form method="post">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>

{% endblock content %}
